@charset "utf-8";
#contactus-banner
{
	background: url(../img/contactus-banner.jpg) center center no-repeat;
	background-size: cover;
}
#ourcontactnumbers
{
	border: gray solid 1px;
	box-sizing: border-box;
	border-radius: 25px 0 25px 0;
	margin: 0 auto;
	max-width: 688px;
	overflow: hidden;
	width: 100%;
}
#ourcontactnumbers img
{
	float: left;
	margin: 0 16px 0 0;
	max-width: 288px;
	width: 100%;
}
#ourcontactnumbers div
{
	float: left;
	margin: 16px;
}
#ourcontactnumbers div h2 { opacity: 0.87; }
#ourcontactnumbers div ul
{
	list-style: square;
	margin: 0;
	overflow: hidden;
	padding: 0 20px 0 20px;
}
#ourcontactnumbers div ul li
{
	font-family: 'Roboto Regular';
	opacity: 0.87;
	padding: 0 5px 0 5px;
}
#contactform
{
	border: gray solid 1px;
	box-sizing: border-box;
	margin: 16px auto 16px auto;
	max-width: 688px;
	overflow: hidden;
	padding: 16px;
	width: 100%;
}
.contactformleft, .contactformright
{
	box-sizing: border-box;
	font-family: 'Roboto Regular';
	font-size: 14px;
}
.contactformleft { float: left; }
.contactformright { float: right; }
.contactformright input { width: 100%; }
.contactformright select { width: 100%; }
.contactformright textarea
{
	height: 120px;
	width: 100%;
}
#contactform table tr td p
{
	font-family: 'Roboto Regular';
	font-size: 12px;
	margin: 16px 0 16px 0;
}
.buttons:hover { background: rgba(63,63,63,0.20); }
.buttons:active { background: rgba(63,63,63,0.40); }
@media(max-width: 503px) { .contactformleft, .contactformright { width: 100%; } }
@media(min-width: 504px)
{
	.contactformleft { width: 30%; }
	.contactformright { width: 70%; } 
}